.searchEmployee{
    width: 300px;
    margin: 10px;
    height: 38px;
    padding-left: 30px;
    border: solid 1px darkblue;
  }

  .employee-list{
    text-align: center;
    margin-top: 50px;
  }

  .employee-list ul li{
    display: inline-block;
    width: 120px;
    border: 1px solid darkblue;
    padding: 3px;
  }
  .employee-list ul{
    margin: 0;
  }


